USE [Logistica]
GO
/****** Object:  Table [dbo].[TableDetalhesdoPedido]    Script Date: 13/09/2025 21:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableDetalhesdoPedido](
	[NumeroDoPedido] [int] NOT NULL,
	[CodigoDoProduto] [int] NOT NULL,
	[PrecoUnitario] [money] NULL,
	[Quantidade] [int] NULL,
	[Desconto] [float] NULL,
 CONSTRAINT [PK_TableDetalhesdoPedido] PRIMARY KEY CLUSTERED 
(
	[NumeroDoPedido] ASC,
	[CodigoDoProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
