USE [Logistica]
GO
/****** Object:  Table [dbo].[TableClientes]    Script Date: 13/09/2025 21:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableClientes](
	[CodigoDoCliente] [nchar](10) NOT NULL,
	[NomeDaEmpresa] [nchar](10) NULL,
	[NomeDeContato] [nchar](10) NULL,
	[CargoDoContato] [nchar](10) NULL,
	[Endereco] [nchar](10) NULL,
	[Cidade] [nchar](10) NULL,
	[Regiao] [nchar](10) NULL,
	[CEP] [nchar](15) NULL,
	[Pais] [nchar](10) NULL,
	[Telefone] [nchar](10) NULL,
	[Fax] [nchar](10) NULL,
 CONSTRAINT [PK_TableClientes] PRIMARY KEY CLUSTERED 
(
	[CodigoDoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
