USE [Logistica]
GO
/****** Object:  Table [dbo].[TableCategoria]    Script Date: 22/09/2025 20:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableCategoria](
	[CodigoDaCategoria] [int] NOT NULL,
	[NomeDaCategoria] [varchar](30) NOT NULL,
	[Descricao] [varchar](100) NULL,
 CONSTRAINT [PK_TableCategoria] PRIMARY KEY CLUSTERED 
(
	[CodigoDaCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableCliente]    Script Date: 22/09/2025 20:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableCliente](
	[CodigoDoCliente] [char](10) NOT NULL,
	[NomeDaEmpresa] [varchar](70) NOT NULL,
	[NomeDoContato] [varchar](70) NOT NULL,
	[CargoDoContato] [varchar](40) NOT NULL,
	[Endereco] [varchar](50) NOT NULL,
	[Cidade] [varchar](25) NOT NULL,
	[Regiao] [varchar](25) NOT NULL,
	[CEP] [char](15) NOT NULL,
	[Pais] [varchar](25) NOT NULL,
	[Telefone] [char](20) NOT NULL,
	[Fax] [char](20) NOT NULL,
 CONSTRAINT [PK_TableCliente] PRIMARY KEY CLUSTERED 
(
	[CodigoDoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableDetalhesdoPedido]    Script Date: 22/09/2025 20:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableDetalhesdoPedido](
	[NumeroDoPedido] [int] NOT NULL,
	[CodigoDoProduto] [int] NOT NULL,
	[PrecoUnitario] [money] NULL,
	[Quantidade] [int] NULL,
	[Desconto] [float] NULL,
 CONSTRAINT [PK_TableDetalhesdoPedido] PRIMARY KEY CLUSTERED 
(
	[NumeroDoPedido] ASC,
	[CodigoDoProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableFornecedores]    Script Date: 22/09/2025 20:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableFornecedores](
	[CodigoDoFornecedor] [int] NOT NULL,
	[NomeDaEmpresa] [varchar](70) NOT NULL,
	[NomeDoContato] [varchar](70) NOT NULL,
	[CargoDoContato] [varchar](40) NULL,
	[Endereco] [varchar](50) NULL,
	[Cidade] [varchar](25) NULL,
	[Regiao] [varchar](25) NULL,
	[CEP] [char](15) NULL,
	[Pais] [varchar](25) NULL,
	[Telefone] [char](20) NULL,
	[Fax] [char](20) NULL,
 CONSTRAINT [PK_TableFornecedores] PRIMARY KEY CLUSTERED 
(
	[CodigoDoFornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableFuncionarios]    Script Date: 22/09/2025 20:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableFuncionarios](
	[CodigoDoFuncionario] [int] NOT NULL,
	[Sobrenome] [varchar](30) NULL,
	[Nome] [varchar](30) NOT NULL,
	[Cargo] [varchar](40) NULL,
	[Tratamento] [char](10) NULL,
	[DataDeNascimento] [date] NULL,
	[DataDeContratacao] [date] NULL,
	[Endereco] [varchar](50) NULL,
	[Cidade] [varchar](25) NULL,
	[Regiao] [varchar](25) NULL,
	[CEP] [char](15) NULL,
	[Pais] [varchar](25) NULL,
	[TelefoneResidencial] [char](20) NULL,
	[Ramal] [char](5) NULL,
	[Observacoes] [varchar](200) NULL,
 CONSTRAINT [PK_TableFuncionarios] PRIMARY KEY CLUSTERED 
(
	[CodigoDoFuncionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablePedido]    Script Date: 22/09/2025 20:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablePedido](
	[NumeroDoPedido] [int] NOT NULL,
	[CodigoDoCliente] [char](10) NOT NULL,
	[CodigoDoFuncionario] [int] NOT NULL,
	[DataDoPedido] [date] NULL,
	[DataDeEntrega] [date] NULL,
	[DataDeEnvio] [date] NULL,
	[CodigoDaTransportadora] [int] NOT NULL,
	[Frete] [money] NULL,
	[NomeDoDestinatario] [varchar](50) NULL,
	[EnderecoDoDestinatario] [varchar](50) NULL,
	[CEPdeDestino] [char](15) NULL,
	[PaisDeDestino] [varchar](25) NULL,
	[CidadeDeDestino] [varchar](25) NULL,
	[RegiaoDeDestino] [varchar](25) NULL,
 CONSTRAINT [PK_TablePedido] PRIMARY KEY CLUSTERED 
(
	[NumeroDoPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableProduto]    Script Date: 22/09/2025 20:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableProduto](
	[CodigoDoProduto] [int] NOT NULL,
	[NomeDoProduto] [varchar](50) NOT NULL,
	[CodigoDoFornecedor] [int] NOT NULL,
	[CodigoDaCategoria] [int] NOT NULL,
	[QuantidadeDaCategoria] [char](30) NULL,
	[PrecoUnitario] [money] NULL,
	[UnidadeEmEstoque] [int] NULL,
	[UnidadesPedidas] [int] NULL,
	[NivelDeReposicao] [int] NULL,
	[Descontinuado] [int] NULL,
 CONSTRAINT [PK_TableProduto] PRIMARY KEY CLUSTERED 
(
	[CodigoDoProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableTransportadora]    Script Date: 22/09/2025 20:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableTransportadora](
	[CodigoDaTransportadora] [int] NOT NULL,
	[NomeDaEmpresa] [varchar](30) NOT NULL,
	[Telefone] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoDaTransportadora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TableDetalhesdoPedido]  WITH CHECK ADD  CONSTRAINT [FK_TableDetalhesdoPedido_TableProduto] FOREIGN KEY([CodigoDoProduto])
REFERENCES [dbo].[TableProduto] ([CodigoDoProduto])
GO
ALTER TABLE [dbo].[TableDetalhesdoPedido] CHECK CONSTRAINT [FK_TableDetalhesdoPedido_TableProduto]
GO
ALTER TABLE [dbo].[TablePedido]  WITH CHECK ADD  CONSTRAINT [FK_TablePedido_TableCliente] FOREIGN KEY([CodigoDoCliente])
REFERENCES [dbo].[TableCliente] ([CodigoDoCliente])
GO
ALTER TABLE [dbo].[TablePedido] CHECK CONSTRAINT [FK_TablePedido_TableCliente]
GO
ALTER TABLE [dbo].[TablePedido]  WITH CHECK ADD  CONSTRAINT [FK_TablePedido_TableFuncionarios] FOREIGN KEY([CodigoDoFuncionario])
REFERENCES [dbo].[TableFuncionarios] ([CodigoDoFuncionario])
GO
ALTER TABLE [dbo].[TablePedido] CHECK CONSTRAINT [FK_TablePedido_TableFuncionarios]
GO
ALTER TABLE [dbo].[TablePedido]  WITH CHECK ADD  CONSTRAINT [FK_TablePedido_TableTransportadora] FOREIGN KEY([CodigoDaTransportadora])
REFERENCES [dbo].[TableTransportadora] ([CodigoDaTransportadora])
GO
ALTER TABLE [dbo].[TablePedido] CHECK CONSTRAINT [FK_TablePedido_TableTransportadora]
GO
ALTER TABLE [dbo].[TableProduto]  WITH CHECK ADD  CONSTRAINT [FK_TableProduto_TableCategoria] FOREIGN KEY([CodigoDaCategoria])
REFERENCES [dbo].[TableCategoria] ([CodigoDaCategoria])
GO
ALTER TABLE [dbo].[TableProduto] CHECK CONSTRAINT [FK_TableProduto_TableCategoria]
GO
ALTER TABLE [dbo].[TableProduto]  WITH CHECK ADD  CONSTRAINT [FK_TableProduto_TableFornecedores] FOREIGN KEY([CodigoDoFornecedor])
REFERENCES [dbo].[TableFornecedores] ([CodigoDoFornecedor])
GO
ALTER TABLE [dbo].[TableProduto] CHECK CONSTRAINT [FK_TableProduto_TableFornecedores]
GO
